@charset "UTF-8";
/*variables*/
/*extend*/
.botones, .secciones div .btnOtr, .secciones div .btnDep, .secciones div .btnVin, .secciones div .btnProd {
  text-decoration: none;
  font-weight: bolder;
  color: #daca4a;
  font-size: 30px;
  border-radius: 10px;
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
  width: 200px;
  text-align: center;
  background: none;
  border: solid 5px rebeccapurple;
}

.claseinfo, .padreEntrega .entrega, .caja .padreInfo, .padreContacto .contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  background: #babdc4;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  height: 500px;
}

/*mixin sin parametros*/
body {
  background: #010e0e;
  margin: 0;
}

.headerr {
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  margin: 0;
}
.headerr .logo {
  width: 400px;
  color: #daca4a;
  padding: 10px;
  font-weight: bolder;
}
.headerr .menu {
  width: 500px;
  padding: 10px;
}
.headerr .menu .nav-link {
  color: antiquewhite;
  font-size: 20px;
  font-weight: bolder;
}
.headerr .menu .nav-link:hover {
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
}

.banner {
  margin: 0;
}

.d-block {
  background-size: cover;
  padding: 10px;
}

.secciones {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.secciones div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.secciones div .btnProd {
  width: 200px;
  height: 200px;
}
.secciones div .btnVin {
  width: 200px;
  height: 200px;
}
.secciones div .btnDep {
  width: 200px;
  height: 200px;
}
.secciones div .btnOtr {
  width: 200px;
  height: 200px;
}

/*class productos*/
.buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.buscador input {
  height: 40px;
  width: 400px;
  border-radius: 40px;
}
.buscador button {
  height: 35px;
  width: 120px;
  font-size: 18px;
  color: antiquewhite;
  background: #16366e;
  border-radius: 40px;
}

.padre {
  height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.padre img {
  height: 200px;
  width: 200px;
  padding: 10px;
}
.padre .hijo {
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
  height: 50vh;
  border-radius: 10px;
  text-align: center;
}
.padre .hijo .vermas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #16366e;
  font-weight: bolder;
  border-radius: 40px;
  padding: 26px 10px;
}

/*class contacto*/
.padreContacto {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.padreContacto .contacto h1 {
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: bolder;
}
.padreContacto .contacto label {
  font-size: 20px;
  display: block;
}
.padreContacto .contacto input {
  height: 20px;
}
.padreContacto .contacto .hijocontacto {
  text-align: center;
}

/* class nosotros*/
.caja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.caja .padreInfo {
  display: flex;
  width: 650px;
}
.caja .padreInfo img {
  height: 20px;
  width: 20px;
}
.caja .padreInfo .hijoInfo {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 20px;
}
.galeria .foton {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* entregas*/
.padreEntrega {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 700px;
}
.padreEntrega .entrega img {
  height: 20px;
  width: 20px;
}
.padreEntrega .entrega h4 {
  font-size: 20px;
}
.padreEntrega .entrega a {
  color: #16366e;
}
.padreEntrega .entrega h6 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
}
.padreEntrega .entrega .hijoEntrega {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
.padreEntrega .entrega .hijoEntrega .puntos {
  width: 410px;
  display: flex;
  justify-content: space-between;
}
.padreEntrega .entrega .hijoEntrega .puntos a {
  text-decoration: none;
  color: #13161c;
  padding: 0 10px 0 10px;
  font-weight: bold;
  border: 2px solid #0e1118;
}
.padreEntrega .entrega .hijoredes {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.padreEntrega .entrega .hijoredes a {
  text-decoration: none;
  color: #0e1118;
  font-weight: bolder;
}
.padreEntrega .entrega .hijoredes img {
  height: 30px;
  width: 30px;
}

.padreUbi {
  display: flex;
  width: 630px;
  height: 490px;
  padding: 10px;
  margin: 10px;
  background-color: #13161c;
}
.padreUbi .ubicacion {
  flex-direction: column;
}
.padreUbi .ubicacion iframe {
  width: 610px;
}

.container-fluid {
  margin: 0;
}
.container-fluid .footer {
  background: #daca4a;
  height: 110px;
  align-items: center;
}
.container-fluid .footer p {
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}
.container-fluid .footer img {
  display: inline;
}
.container-fluid .footer .redes {
  height: 50px;
  display: block;
  text-align: center;
}
.container-fluid .footer .redes img {
  height: 20px;
  width: 20px;
}
.container-fluid .footer .redes a {
  text-decoration: none;
  color: #010e0e;
  font-weight: bolder;
}
.container-fluid .wsp {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.container-fluid .wsp img {
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

/* responsive tamaño tablet 768px*/
@media screen and (max-width: 768px) {
  /*index*/
  .headerr {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .headerr .container-fluid {
    position: absolute;
    height: 100px;
    z-index: 10000;
    left: 10px;
  }
  .headerr .container-fluid .navbar-toggler {
    background-color: aliceblue;
    border: solid 1px gray;
  }
  .headerr .container-fluid .navbar-toggler-icon {
    background-color: aliceblue;
  }
  .headerr .container-fluid .navbar-collapse {
    background-color: #16366e;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    top: 75px;
  }
  .headerr .container-fluid .navbar-nav {
    text-align: center;
  }
  .headerr .container-fluid .nav-link {
    color: antiquewhite;
  }
  .d-block {
    background-size: cover;
    height: 50vh;
    width: 20%;
    padding: 10px;
  }
  .secciones {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 70vh;
    justify-content: center;
  }
  .secciones div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btnProd {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnVin {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnDep {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnOtr {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  /*productos*/
  .buscador {
    flex-direction: row;
    gap: 10px;
    padding: 40px;
  }
  .buscador input {
    height: 40px;
    width: 300px;
    border-radius: 40px;
  }
  .buscador button {
    height: 35px;
    width: 100px;
    font-size: 18px;
    color: antiquewhite;
    background: #16366e;
    border-radius: 40px;
  }
  .padre {
    height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .padre .hijo {
    background: #babdc4;
    height: 39vh;
    border-radius: 10px;
    text-align: center;
  }
  .padre .hijo .vermas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #16366e;
    font-weight: bolder;
    border-radius: 40px;
    padding: 20px 10px;
  }
  /*nosotros*/
  .caja {
    height: 200vh;
  }
  .caja .padreInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    background: #babdc4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 590px;
  }
  .caja .padreInfo img {
    height: 20px;
    width: 20px;
  }
  .caja .padreInfo .hijoInfo {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .foton {
    height: 320px;
    width: 320px;
    align-items: center;
    margin: 10px;
  }
  /*contacto*/
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 20px;
    width: 540px;
    background: #babdc4;
  }
  /*entregas*/
  .padreEntrega {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    height: 500px;
  }
  .padreEntrega .entrega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    border: solid 1px gray;
    border-radius: 20px;
    height: 450px;
    margin: 10px;
  }
}
/*tamaño celular */
@media screen and (max-width: 500px) {
  .container-fluid {
    margin: 0;
  }
  .container-fluid .headerr {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    background: #16366e;
  }
  .container-fluid .headerr .logo {
    width: 260px;
    font-size: 25px;
  }
  .container-fluid .headerr .menu {
    width: 60px;
  }
  .container-fluid .headerr .menu .navbar-toggler {
    background-color: aliceblue;
    border: solid 1px gray;
  }
  .container-fluid .headerr .menu .navbar-toggler-icon {
    background-color: aliceblue;
  }
  .container-fluid .headerr .menu .navbar-collapse {
    background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
    width: 160%;
    border-radius: 10px;
  }
  .container-fluid .headerr .menu .navbar-nav {
    text-align: center;
  }
  .container-fluid .headerr .menu .nav-link {
    color: #010e0e;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    height: 140vh;
    padding: 10px;
    justify-content: space-evenly;
  }
  .secciones div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .d-block {
    background-size: cover;
    height: 40vh;
    width: 20%;
    padding: 10px;
  }
  .btnProd {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnVin {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnDep {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  .btnOtr {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background: #babdc4;
  }
  /*productos*/
  .buscador {
    flex-direction: row;
    gap: 10px;
    padding: 30px;
  }
  .buscador input {
    height: 30px;
    width: 250px;
    border-radius: 40px;
  }
  .buscador button {
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: antiquewhite;
    background: #16366e;
    border-radius: 40px;
  }
  .padre {
    height: 180vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .padre .hijo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #babdc4;
    height: 50vh;
    border-radius: 10px;
    width: 160px;
    gap: 10px;
    justify-content: center;
  }
  .padre .hijo img {
    width: 150px;
    height: 170px;
  }
  .padre .hijo .vermas {
    display: flex;
    flex-direction: column;
    color: #16366e;
    font-weight: bolder;
  }
  /* class nosotros*/
  .caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200vh;
  }
  .caja .padreInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    background: #babdc4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 110vh;
  }
  .foton {
    height: 320px;
    width: 320px;
    align-items: center;
    margin: 10px;
  }
  /*contacto*/
  .padreContacto {
    background-image: url(../img/manos.jpg);
    background-size: cover;
  }
  .padreContacto .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 420px;
    border: solid 1px gray;
    border-radius: 20px;
    width: 280px;
    background: #babdc4;
  }
  .padreContacto .contacto .hijocontacto {
    font-size: 10px;
    width: 250px;
  }
  /*entregas*/
  .padreEntrega {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 300px 300px;
    height: 230vh;
    grid-template-areas: "entrega entrega" "entrega entrega" "entrega entrega" "ubi ubi";
  }
  .padreEntrega .entrega {
    grid-area: entrega;
  }
  .padreEntrega .ubicacion {
    grid-area: ubi;
  }
  .padreEntrega .entrega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    border: solid 1px gray;
    border-radius: 20px;
    height: 640px;
  }
  .padreEntrega .padreUbi {
    display: flex;
    width: 350px;
    height: 400px;
  }
  .padreEntrega .padreUbi .ubicacion {
    flex-direction: column;
  }
  .padreEntrega .padreUbi .ubicacion iframe {
    width: 360px;
  }
}

/*# sourceMappingURL=estilos.css.map */
