@charset "UTF-8";
/*variables*/
/*extend*/
.botones, .secciones div .btnOtr, .secciones div .btnDep, .secciones div .btnVin, .secciones div .btnProd {
  text-decoration: none;
  font-weight: bolder;
  color: #daca4a;
  font-size: 30px;
  border-radius: 10px;
  background: #010e0e;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #daca4a;
}

.claseinfo, .padreEntrega .entrega, .caja .padreInfo, .cajapadre .padreContacto .contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  background: #babdc4;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  height: 500px;
}

/*mixin sin parametros*/
body {
  background: #010e0e;
  margin: 0;
}

.headerr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  margin: 0;
}
.headerr .logo {
  width: 400px;
  color: #daca4a;
  padding: 10px;
  font-weight: bolder;
}
.headerr .menu {
  width: 500px;
  padding: 10px;
}
.headerr .menu .nav-link {
  color: antiquewhite;
  font-size: 20px;
  font-weight: bolder;
}
.headerr .menu .nav-link:hover {
  color: #daca4a;
}

.banner {
  margin: 0;
}

.d-block {
  background-size: cover;
  padding: 10px;
}

.secciones {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.secciones div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.secciones div .btnProd {
  width: 200px;
  height: 200px;
}
.secciones div .btnVin {
  width: 200px;
  height: 200px;
}
.secciones div .btnDep {
  width: 200px;
  height: 200px;
}
.secciones div .btnOtr {
  width: 200px;
  height: 200px;
}

/*class productos*/
.buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.buscador input {
  height: 40px;
  width: 400px;
  border-radius: 40px;
}
.buscador button {
  height: 39px;
  width: 120px;
  font-size: 18px;
  color: antiquewhite;
  background: #010e0e;
  border-radius: 40px;
  border: solid 3px #daca4a;
  font-weight: bolder;
}

.padre {
  height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.padre img {
  height: 200px;
  width: 200px;
  padding: 10px;
}
.padre .hijo {
  border: solid 3px #daca4a;
  height: 50vh;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 250px;
}
.padre .hijo .vermas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-weight: bolder;
  border-radius: 40px;
  padding: 26px 10px;
}

/*class contacto*/
.cajapadre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 110vh;
}
.cajapadre .padreContacto {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.cajapadre .padreContacto .contacto {
  background: none;
  border: solid 5px #daca4a;
  font-weight: bolder;
  gap: 10px;
}
.cajapadre .padreContacto .contacto h1 {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: bolder;
}
.cajapadre .padreContacto .contacto label {
  font-size: 20px;
  display: block;
  color: white;
}
.cajapadre .padreContacto .contacto input {
  height: 20px;
  width: 150px;
  transition: all 2s;
}
.cajapadre .padreContacto .contacto input:focus {
  width: 200px;
  height: 30px;
}
.cajapadre .padreContacto .contacto textarea {
  width: 300px;
  height: 200px;
  transition: all 2s;
}
.cajapadre .padreContacto .contacto textarea:focus {
  width: 350px;
  height: 215px;
}
.cajapadre .padreContacto .contacto .hijocontacto {
  text-align: center;
}
.cajapadre .padreContacto .contacto .hijocontacto .button {
  display: flex;
  justify-content: center;
}
.cajapadre .padreContacto .contacto .hijocontacto .button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  color: white;
  background: #010e0e;
  font-size: 15px;
  border-radius: 10px;
  border: solid 3px #daca4a;
  font-weight: bolder;
}
.cajapadre .galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 210px;
  grid-gap: 20px;
}
.cajapadre .galeria .cajaimg {
  background: #010e0e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cajapadre .galeria .cajaimg .foton {
  border: solid 3px #daca4a;
  height: 180px;
  width: 150px;
  transition: all 5s;
}
.cajapadre .galeria .cajaimg .foton:hover {
  transform: scale(1.2);
}

/* class nosotros*/
.caja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.caja .padreInfo {
  display: flex;
  width: 650px;
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
}
.caja .padreInfo img {
  height: 17px;
  width: 17px;
}
.caja .padreInfo .hijoInfo {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
.caja .padreInfo .hijoInfo h4 {
  font-size: 20px;
  font-weight: bolder;
}

.cajaperfil {
  height: 500px;
  width: 400px;
  border: solid 3px #daca4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.cajaperfil iframe {
  width: 300px;
  height: 400px;
}
.cajaperfil h6 {
  text-align: center;
  color: white;
  font-weight: bolder;
}

/* entregas*/
.padreEntrega {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}
.padreEntrega .entrega {
  background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
}
.padreEntrega .entrega img {
  height: 20px;
  width: 20px;
}
.padreEntrega .entrega h4 {
  font-size: 20px;
  font-weight: bolder;
}
.padreEntrega .entrega h6 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
}
.padreEntrega .entrega .hijoEntrega {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
.padreEntrega .entrega .hijoEntrega .puntos {
  width: 410px;
  display: flex;
  justify-content: space-between;
}
.padreEntrega .entrega .hijoEntrega .puntos a {
  text-decoration: none;
  color: #13161c;
  padding: 0 10px 0 10px;
  font-weight: bold;
  border: 2px solid #0e1118;
}
.padreEntrega .entrega .hijoredes {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.padreEntrega .entrega .hijoredes a {
  text-decoration: none;
  color: #0e1118;
  font-weight: bolder;
}
.padreEntrega .entrega .hijoredes img {
  height: 30px;
  width: 30px;
}

.padreUbi {
  display: flex;
  width: 630px;
  height: 490px;
  padding: 10px;
  margin: 10px;
  background-color: #010e0e;
}
.padreUbi .ubicacion {
  flex-direction: column;
}
.padreUbi .ubicacion iframe {
  width: 610px;
}

.container-fluid {
  margin: 0;
}
.container-fluid .footer {
  background: #daca4a;
  height: 180px;
  align-items: center;
}
.container-fluid .footer p {
  font-size: 15px;
  color: #010e0e;
  text-align: center;
  font-weight: bolder;
}
.container-fluid .footer img {
  display: inline;
}
.container-fluid .footer .redes {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-fluid .footer .redes h5 {
  font-size: 15px;
  font-weight: bolder;
}
.container-fluid .footer .redes img {
  height: 20px;
  width: 20px;
}
.container-fluid .footer .redes a {
  text-decoration: none;
  color: #010e0e;
  font-weight: bolder;
}

/* responsive tamaño tablet 768px*/
@media screen and (max-width: 768px) {
  /*index*/
  .headerr {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .headerr .menu {
    width: 60px;
  }
  .headerr .menu .navbar-toggler {
    background-color: white;
    border: solid 5px #daca4a;
  }
  .headerr .menu .navbar-toggler-icon {
    background-color: white;
  }
  .headerr .menu .navbar-collapse {
    background: #3d432d;
    width: 230px;
    border-radius: 10px;
    position: absolute;
    top: 75px;
    right: 5px;
    z-index: 10000;
  }
  .headerr .menu .navbar-nav {
    text-align: center;
  }
  .headerr .menu .nav-link {
    color: antiquewhite;
  }
  .d-block {
    background-size: cover;
    height: 50vh;
    width: 20%;
    padding: 10px;
  }
  .secciones {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 70vh;
    justify-content: center;
  }
  .secciones div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btnProd {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnVin {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnDep {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnOtr {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*productos*/
  .buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .buscador input {
    height: 40px;
    width: 400px;
    border-radius: 40px;
  }
  .buscador button {
    height: 39px;
    width: 120px;
    font-size: 18px;
    color: antiquewhite;
    background: #010e0e;
    border-radius: 40px;
    border: solid 3px #daca4a;
    font-weight: bolder;
  }
  .padre {
    height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .padre .hijo {
    border: solid 3px #daca4a;
    height: 39vh;
    border-radius: 10px;
    text-align: center;
    width: 200px;
  }
  .padre .hijo .vermas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-weight: bolder;
    border-radius: 40px;
    padding: 20px 10px;
  }
  /*nosotros*/
  .caja {
    height: 130vh;
  }
  .caja .padreInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 550px;
    background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 590px;
  }
  .caja .padreInfo img {
    height: 20px;
    width: 20px;
  }
  .caja .padreInfo .hijoInfo {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  /*contacto*/
  .cajapadre {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cajapadre .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 20px;
    width: 540px;
    background: #babdc4;
  }
  .cajapadre .contacto .hijocontacto {
    font-size: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cajapadre .contacto .hijocontacto .button {
    display: flex;
    justify-content: center;
  }
  .cajapadre .contacto .hijocontacto .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: white;
    background: #010e0e;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: solid 3px #daca4a;
    font-weight: bolder;
  }
  .cajapadre .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 280px;
    grid-gap: 20px;
    justify-content: space-evenly;
  }
  .cajapadre .galeria .cajaimg {
    background: #010e0e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cajapadre .galeria .cajaimg .foton {
    border: solid 3px #daca4a;
    height: 230px;
    width: 230px;
    margin: 10px;
    transition: all 5s;
  }
  .cajapadre .galeria .cajaimg .foton:hover {
    transform: scale(1.2);
  }
  /*entregas*/
  .padreEntrega {
    display: flex;
    flex-direction: column;
    height: 120vh;
    padding: 10px;
  }
  .padreEntrega .entrega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 560px;
    border-radius: 20px;
    height: 580px;
    margin: 10px;
  }
  .padreUbi {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background: #010e0e;
  }
  .padreUbi .ubicacion {
    flex-direction: column;
  }
  .padreUbi .ubicacion iframe {
    width: 560px;
  }
}
/*tamaño celular */
@media screen and (max-width: 500px) {
  .headerr {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .headerr .logo {
    width: 182px;
    font-size: 20px;
  }
  .headerr .menu {
    width: 60px;
  }
  .headerr .menu .navbar-toggler {
    background-color: white;
    border: solid 5px #daca4a;
  }
  .headerr .menu .navbar-toggler-icon {
    background-color: white;
  }
  .headerr .menu .navbar-collapse {
    background: #3d432d;
    width: 230px;
    border-radius: 10px;
    position: absolute;
    top: 75px;
    right: 5px;
    z-index: 10000;
  }
  .headerr .menu .navbar-nav {
    text-align: center;
  }
  .headerr .menu .nav-link {
    color: antiquewhite;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    height: 140vh;
    padding: 10px;
    justify-content: space-evenly;
  }
  .secciones div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .secciones .btnProd {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .secciones .btnVin {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .secciones .btnDep {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .secciones .btnOtr {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .d-block {
    background-size: cover;
    height: 40vh;
    width: 20%;
    padding: 10px;
  }
  /*productos*/
  .buscador {
    flex-direction: row;
    gap: 10px;
    padding: 30px;
  }
  .buscador input {
    height: 30px;
    width: 250px;
    border-radius: 40px;
  }
  .buscador button {
    height: 33px;
    width: 100px;
    font-size: 18px;
    color: antiquewhite;
    background: #010e0e;
    border-radius: 40px;
    border: solid 3px #daca4a;
    font-weight: bolder;
  }
  .padre {
    height: 180vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .padre .hijo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 3px #daca4a;
    height: 50vh;
    border-radius: 10px;
    width: 160px;
    gap: 10px;
    justify-content: center;
  }
  .padre .hijo img {
    width: 150px;
    height: 170px;
  }
  .padre .hijo .vermas {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bolder;
  }
  /* class nosotros*/
  .caja {
    height: 200vh;
  }
  .caja .padreInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    background: linear-gradient(70deg, rgb(93, 77, 19) 0%, rgb(218, 202, 74) 47%, rgb(93, 77, 19) 89%);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 590px;
  }
  .caja .padreInfo img {
    height: 20px;
    width: 20px;
  }
  .caja .padreInfo .hijoInfo {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .caja .cajaperfil {
    height: 500px;
    width: 360px;
    border: solid 3px #daca4a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  .caja .cajaperfil iframe {
    width: 300px;
    height: 400px;
  }
  .caja .cajaperfil h6 {
    text-align: center;
    color: white;
    font-weight: bolder;
  }
  /*contacto*/
  .cajapadre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200vh;
  }
  .cajapadre .padreContacto {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .cajapadre .padreContacto .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    border: solid 1px #daca4a;
    border-radius: 20px;
    width: 350px;
    justify-content: center;
  }
  .cajapadre .padreContacto .contacto h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bolder;
  }
  .cajapadre .padreContacto .contacto label {
    font-size: 20px;
    display: block;
    color: white;
  }
  .cajapadre .padreContacto .contacto input {
    height: 20px;
    width: 110px;
    transition: all 2s;
  }
  .cajapadre .padreContacto .contacto input:focus {
    width: 160px;
    height: 30px;
  }
  .cajapadre .padreContacto .contacto textarea {
    width: 140px;
    height: 100px;
    transition: all 2s;
  }
  .cajapadre .padreContacto .contacto textarea:focus {
    width: 200px;
    height: 150px;
  }
  .cajapadre .padreContacto .hijocontacto {
    font-size: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cajapadre .padreContacto .hijocontacto .button {
    display: flex;
    justify-content: center;
  }
  .cajapadre .padreContacto .hijocontacto .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: white;
    background: #010e0e;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: solid 3px #daca4a;
    font-weight: bolder;
  }
  .cajapadre .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 240px;
    grid-gap: 10px;
    justify-content: space-evenly;
  }
  .cajapadre .galeria .cajaimg {
    background: #010e0e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cajapadre .galeria .cajaimg .foton {
    border: solid 3px #daca4a;
    height: 180px;
    width: 150px;
    margin: 10px;
    transition: all 5s;
  }
  .cajapadre .galeria .cajaimg .foton:hover {
    transform: scale(1.2);
  }
  /*entregas*/
  .padreEntrega {
    display: flex;
    flex-direction: column;
    height: 200vh;
    padding: 10px;
  }
  .padreEntrega .entrega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 310px;
    border: solid 1px gray;
    border-radius: 20px;
    height: 610px;
    margin: 10px;
    padding: 10px;
  }
  .padreEntrega .entrega img {
    height: 20px;
    width: 20px;
  }
  .padreEntrega .entrega h4 {
    font-size: 20px;
    font-weight: bolder;
  }
  .padreEntrega .entrega h6 {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .padreEntrega .entrega .hijoEntrega {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    width: 300px;
  }
  .padreEntrega .entrega .hijoEntrega .puntos {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .padreEntrega .entrega .hijoEntrega .puntos h5 {
    font-size: 13px;
    font-weight: bold;
  }
  .padreEntrega .entrega .hijoEntrega .puntos a {
    text-decoration: none;
    color: #13161c;
    padding: 0 10px 0 10px;
    font-weight: bold;
    border: 2px solid #0e1118;
    font-size: 12px;
  }
  .padreEntrega .entrega .hijoredes {
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  .padreEntrega .entrega .hijoredes a {
    text-decoration: none;
    color: #0e1118;
    font-weight: bolder;
  }
  .padreEntrega .entrega .hijoredes img {
    height: 30px;
    width: 30px;
  }
  .padreEntrega .padreUbi {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
  }
  .padreEntrega .padreUbi .ubicacion {
    flex-direction: column;
  }
  .padreEntrega .padreUbi .ubicacion iframe {
    width: 320px;
  }
}

/*# sourceMappingURL=estilos.css.map */
