/*variables*/
$color1 :#daca4a;
$colorborrar: rgb(113, 19, 19);
$color2: #010e0e;
$color3: linear-gradient(70deg, rgba(93,77,19,1) 0%, rgba(218,202,74,1) 47%, rgba(93,77,19,1) 89%);
$colortexto: white;
$colorfondo: #3d432d;
$fuentegrande:40px;
$ccc: linear-gradient(to right, #3d432d, #daca4a);