/*variables*/
$color1 :linear-gradient(70deg, rgba(32,85,113,1) 0%, rgba(99,198,193,1) 45%, rgba(23,59,112,1) 89%);

$color2: white;
$color3: linear-gradient(70deg, rgba(120,150,149,1) 0%, rgba(31,147,123,1) 44%, rgba(112,129,134,1) 89%);
$fuentegrande:40px;
